:root {
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);
    --white: hsl(0, 100%, 100%);
    --navy-50: hsl(210, 60%, 98%);
    --navy-100: hsl(211, 68%, 94%);
    --navy-200: hsl(205, 33%, 90%);
    --gray-500: hsl(219, 14%, 63%);
    --gray-600: hsl(219, 12%, 42%);
    --navy-950: hsl(224, 21%, 14%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Plus Jakarta Sans", sans-serif;
    min-height: 100vh;
    background-color: var(--navy-100);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
.card {
    background-color: var(--white);
    padding: 40px 20px;
    border-radius: 10px;
    max-width: 750px;
    width: 100%;
}
.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1 {
    font-size: 22px;
    font-weight: 700;
}
.badge {
    font-size: 16px;
    background-color: var(--blue);
    color: var(--white);
    padding: 3px 10px;
    border-radius: 5px;
    margin-left: 10px;
}
.btn-all {
    background: none;
    color: var(--gray-600);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    border: none;
    transition: all 0.3s;
}
.btn-all:hover {
    color: var(--blue);
}
